torch
torchtext
torchvision
torch-geometric
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-openai
langchain-cli
langchain-neo4j
langchainhub
transformers
numexpr
google-search-results
wikipedia
arxiv
gdown
packaging
torch
tqdm
absl-py
gradio
unstructured
pdf2image
pdfminer
pdfminer.six
opencv-python
unstructured_inference
layoutparser
onnxruntime
pikepdf
sentence-transformers
chromadb
flash-attn
json-repair
langchain_experimental
neo4j
pillow_heif
