torch
torchtext
torchvision
langchain
langchain-core
langchain-huggingface
langchain-openai
langchain-cli
langchain-neo4j
langchain-experimental
langchainhub
langgraph
langsmith
transformers
gradio
absl-py
unstructured
pdf2image
pdfminer
pdfminer.six
opencv-python
unstructured_inference
layoutparser
onnxruntime
pikepdf
sentence-transformers
chromadb
json-repair
neo4j
pillow_heif
