torch
torchtext
torchvision
langchain>=0.3.13
langchain-core>=0.3.28
langchain-huggingface>=0.1.2
langchain-openai>=0.2.14
langchain-cli>=0.0.35
langchainhub>=0.1.21
langgraph>=0.2.61
langsmith>=0.2.7
transformers
gradio
absl-py
numexpr
wikipedia
arxiv
google-search-results
pyowm
fastapi==0.111.0
