torch
torchtext
torchvision
torch-geometric
langchain>=0.3.9
langchain-core>=0.3.21
langchain-community>=0.3.9
langchain-openai>=0.2.11
langchain-cli>=0.0.33
langchain-neo4j>=0.1.1
langchainhub>=0.1.21
transformers
numexpr
google-search-results
wikipedia
arxiv
gdown
packaging
torch
tqdm
absl-py
gradio
unstructured
pdf2image
pdfminer
pdfminer.six
opencv-python
unstructured_inference
layoutparser
onnxruntime
pikepdf
sentence-transformers
chromadb
flash-attn
json-repair
langchain_experimental
neo4j
pillow_heif
